# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# virtual environments
.venv/
env/
venv/
ENV/
*venvlist.*

# Django
*.log
*.pot
*.pyc
*.sqlite3
media/
staticfiles/
logs/

# Environment variables
.env
.env.local
.env.development
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo
*.bak

# my testing files
*.ipynb
try/

# OS specific
.DS_Store
Thumbs.db